<div class="content">
  <h1 align="center">Obchodní podmínky</h1>
  Je třeba ještě projít a upravit!
  <h2>Výběr zboží</h2>
  <p>Ceny zboží jsou uvedeny včetně DPH a jsou aktuální v momentě uskutečnění objednávky.</p>
  <p>Nákup je možný i bez registrace.</p>
  <p>Nákup probíhá vybráním zboží a jeho vložením do košíku (kliknutím na ikonku košíku vedle konkrétního zboží), volbou způsobu dopravy a platby a konečným potvrzením.</p>
  <p>Objednávka se potvrzením stává závazná. Potvrzením objednávky zákazník souhlasí s uvedenými obchodními podmínkami.</p>
  <p>Po objednání zboží dostane zákazník potvrzovací mail, jehož doručením dochází k uzavření kupní smlouvy.</p>
  <h2>Doprava</h2>
  <p>Samozřejmě umožňujeme dopravu Českou poštou.</p>
  <p>Upřednostňujeme ale dopravu prostřednictvím Heureka pointů. Jejich využívání nabízí mnoho výhod jak pro zákazníka tak pro nás. Předně to jsou nižší poplatky za dopravu než v případě České pošty a možnost vyzvednout si zboží v době, která se Vám hodí.</p>
  <p>Na území prahy jsme schopni po telefonické domluvě nabídnout i osobní odběr. Budeme se Vám snažit vyjít vstříc a pokusíme se s Vámi domluvit na vhodném místě i čase. Obchod ale provozujeme vedle stálého zaměstnání, takže prosím berte ohled na naše časové možnosti.</p>
  <h2>Platba</h2>
  <p>V případě osobního odběru je možná platba hotově při předání.</p>
  <p>Jinak nabízíme platbu převodem nebo na dobírku.</p>
  <h2>Odstoupení od smlouvy</h2>
  <p>Vyhrazujeme si právo zrušit objednávku v případě dlouhodobé nedostupnosti objednaného produktu, nebo v případě porušení obchodních podmínek ze strany zákazníka. Pokud by nějaký problém nastal, budeme Vás nejprve kontaktovat a snažit se nabídnout alternativní řešení.</p>
  <p>Zákazník má v souladu s § 53 zákona č. 367/2000 právo odstoupit od smlouvy a vrátit zakoupené zboží do 14 dnů od převzetí a to bez udání důvodu. Vrácené zboží musí být kompletní a nepoužité. Zákazníkovi budou vráceny peníze za zboží. Náklady na dopravu v tomto případě nese zákazník.</p>
  <h2>Reklamace</h2>
  <p>V případě jakékoliv nespokojenosti s dodaným zbožím nás prosím kontaktujte a my se Vám pokusíme vyjít vstříc.</p>
  <p>Může dojít k poškození během přepravy. Zákazník je povinen zboží při předání prohlédnout a ihned upozornit na případné nedostatky.</p>
  <p>V případě, že bude třeba poslat zboží zpět pro posouzení reklamace, je nutné, aby bylo kompletní, včetně příslušejících dokumentů. Snažíme se reklamace vyřizovat co nejrychleji a k Vaší maximální spokojenosti.</p>
  <h2>Ochrana osobních údajů</h2>
  <p>Od zákazníků požadujeme pouze údaje bezpodmíněčně nutné k bezproblémovému uskutečnění nákupu.</p>
  <p>Veškeré takto získané údaje slouží výhradně k vnitřním potřebám našeho obchodu a nejsou sdělovány třetím osobám. Výjimku představují externí dopravci, kterým data předáváme v minimálním možném rozsahu nutném k bezproblémovému dodání zásilky.</p>
</div>