<div class="content">
  <h1 align="center">Kontakty</h1>
  Zastihnout nás můžete (a osobně se poptat) typicky v pondělí od 7:00 na <%= link_to "Smíchoffě", "http://smichoff.cz" %> či ve čtvrtek <%= link_to "Lokál bloku", "http://lokalblok.cz/" %>. Poznáte nás podle pruhovaných triček :o)
<table class="contacts-table">
  <tr><th>obchodní náležitosti:</th><th>kontaktní osoba:</th></tr>
  <tr>
	<td>
	  <b>Jan Blažek</b><br/>
	  Mitrov 12<br/>
	  28504 Uhlířské Janovice<br/>
	  IČ: 74800345 (Nejsme plátci DPH)<br/>
	  tel (Vodafone, Viber): 605 062 837<br/>
	  email: <b>info@tumatemate.cz</b>
	</td>
	<td>
	  <b>Tomáš Uhlíř</b><br />
	  tel (O2): 606 435 070<br />
	  email: <b>info@tumatemate.cz</b>
	</td>
  </tr>
</table>
</div>

