<div class="page_wrap row">
  <h1 align="center">Kontakty</h1>
  <div class="content">
  <p>Zastihnout nás můžete (a osobně se poptat) typicky v úterý od 20. hodiny v <%= link_to "Lokál bloku", "http://lokalblok.cz/" %>. Poznáte nás podle pruhovaných triček :o)</p>  
<table class="contacts-table">
  <tr><th>obchodní náležitosti:</th><th>kontaktní osoba:</th></tr>
  <tr>
	<td>
	  <b>Jan Blažek</b><br/>
	  Plamínkové 1562/9<br/>
	  140 00 Praha 4<br/>
	  IČ: 74800345 (Nejsme plátci DPH)<br/>
	  tel (Vodafone, Viber): 605 062 837<br/>
	  email: <b>info@tumatemate.cz</b>
	</td>
	<td>
	  <b>Tomáš Uhlíř</b><br />
	  tel (O2): 606 435 070<br />
	  email: <b>info@tumatemate.cz</b>
	</td>
  </tr>
</table>
</div>
</div>
