<div class="page_wrap row">
  <div class="content">
  <h2>Zajetí kalabasy</h2>
  <p>Před prvním použitím je třeba kalabasu nejprve zajet. Tento proces je označován jako „curádo“. Jde o ošetření kalabasy, aby se zbavila zbytků dužiny a maté nemělo „dýňovou“ pachuť a aroma.</p>
  <ol type="1" class="maintenance">
	<li>Vypláchni kalabasu, naplň ji do 2/3 suchým maté a zalej vodou o teplotě asi 80o. Takto nech maté jeden den luhovat.</li>
	<li>Zhruba po 24 hodinách kalabasu vyprázdni. Celý proces zopakuj a počkej dalších 24 hodin. Občas stačí pouze jednodenní luhování, někdy je třeba celý postup zopakovat třeba třikrát.</li>
	<li>Po vyprázdnění opatrně odstraň zbytky dužiny. Můžeš použít například čajovou lžičku. Dej ale velký pozor, abys nepoškodil stěny. Rozhodně neodstraňuj trn na spodku nádoby. Kalabasa by pak mohla začít prosakovat.</li>
	<li>Konečně si můžeš do kalabasy zkusit připravit maté. Pokud bude stále silně chutnat po dýni, klidně proces ještě zopakuj. Nějakou dobu se může slabá dýňovitá chuť ještě objevovat. Po krátké době používání se to ale srovná.</li>
  </ol>

  <h2>Péče o kalabasu</h2>
  <p>Kalabasa je organického původu a je třeba o ni náležitě pečovat, aby například nepopraskala nebo nezačala plesnivět. Pokud ale budeš dodržovat některé základní poučky, nemáš se ale čeho obávat. Když skončíš s popíjením, kalabasu vždy ihned vyprázdni, důkladně vypláchni a nech vyschnout. Při vyprazdňování kalabasy si můžeš pomoct bombillou. Dej ale pozor, abys nepoškodil stěny. Nesuš kalabasu na prudkém slunci a už vůbec ne na topení. Mohla by popraskat a začít pak protékat. Když zrovna kalabasu nepoužíváš, je nejlepší ji nechávat někde ve stínu na dobře větraném místě s přístupem vzduchu.</p>
  </div>
</div>
