<div class="page_wrap row">
  <div class="content">
  	<h1>Maté párty</h1>
<i>Chystáme se udělat maté párty</i>
<table>
	<tr>
		<th>
Datum:<br />
O co půjde:<br />
Vstupné:<br />
Jak objednat:
</th>
<td>
</td>
</tr>
</p>
</div>
</div>
