<div class="page_wrap row">
  <div class="content">
	<h1 align="center">Tradiční příprava Yerba maté</h1>
	<div id="list">
	  <ol type="1">
		<li><a href="#vyplachni">Vypláchni kalabasu</a></li>
		<li><a href="#nasyp">Nasypej maté</a></li>
		<li><a href="#setrep">Setřepej ho</a></li>
		<li><a href="#zasun">Zasuň bombillu</a></li>
		<li><a href="#zalej">Zalej studenou vodou</a></li>
		<li><a href="#dolej">Dolej horkou vodou</a></li>
		<li><a href="#vypij">Vypij to</a></li>
		<li><a href="#opakuj">Opakuj zalévání</a></li>
		<li><a href="#vycisti">Vyčisti kalabasu</a></li>
	  </ol>
	</div>
	<ol type="1" class="prep-steps">
	  <li class="preparation-step" id="vyplachni"><span class="subtitle">Vypláchni kalabasu</span>
		<p>Prázdnou kalabasu naplň vroucí vodou a nech ji chvíli působit. Voda může začít v kalabase šumět a bublat, obzvlášť pokud byla před tím kalabasa suchá. Až šumění přestane, vodu vylej.</p>
		<p>Voda bude pravděpodobně zbarvená do zelena a možná v ní budou plavat i nějaké zbytky. To je normální a nemusíš se tím znepokojovat.</p>
		<p>Tento krok slouží hlavně k vypláchnutí kalabasy, nahřátí a namočení stěn.</p></li>
	  <li class="preparation-step" id="nasyp"><span class="subtitle">Nasypej maté</span>
		<p>Do kalabasy nasypej své oblíbené maté. Tradičně se kalabasa plní suchým maté asi do 2/3 objemu. Pokud s maté teprve začínáš, dej klidně trochu méně.</p>
		<p>Při sypání dej pozor, protože maté může hodně prášit. Raději ho připravuj třeba nad dřezem.</p></li>
	  <li class="preparation-step" id="setrep"><span class="subtitle">Setřepej ho</span>
		<p>Kalabasu zakryj dlaní jedné ruky a nakloň ji asi o 45°. Opatrně s ní třepej. Můžeš na ni shora i trochu poklepat.</p>
		<p>Tento krok je velmi důležitý. Cílem je setřepat maté uvnitř, aby vytvořilo nakloněnou rovinu pod úhlem asi 45° pro snadné vložení bombilly. Drobný prach se nalepí na stěny a bude se uvolňovat postupně. Protřepání má především zabránit ucpávání bombilly.</p>
		<p>Po tomto kroku ti na ruce zůstane charakteristické zelené kolečko. :-)</p></li>
	  <li class="preparation-step" id="zasun"><span class="subtitle">Zasuň bombillu</span>
		<p>Bombillu zasuň do klabasy podél svahu setřepaného maté. Umísti ji tak, aby se ti z ní dobře pilo. Později už bys s ní neměl míchat, aby se ti neucpávala.</p></li>
	  <li class="preparation-step" id="zalej"><span class="subtitle">Zalej studenou vodou</span>
	  	<p>Zhruba do čtvrtiny kalabasy opatrně nalej studenou vodu. Vodu nalévej ze strany, kde není maté, abys neporušil setřepaný svah. Nech vodu chvíli působit (tak 2 minuty).</p></li>
	  <li class="preparation-step" id="dolej"><span class="subtitle">Dolej horkou vodou</span>
		<p>Do kalabasy dolej horkou vodu. Smícháním s už nalitou studenou vodou se zchladí. Přesto bys ale neměl lít do kalabasy úplně vroucí vodu. Výsledná teplota po smíchání se studenou vodou by měla být někde okolo 60°-70°.</p>
		<p>Vodu nalévej pokud možno opět mimo svah tak, aby alespoň část maté zůstala suchá.</p>
		<p>Nech maté chvíli vyluhovat (cca 2 minuty).</p></li>
	  <li class="preparation-step" id="vypij"><span class="subtitle">Vypij to</span>
		<p>Konečně si můžeš dopřát lahodný doušek.</p>
		<p>Dávej akorát pozor, aby nebyla voda příliš horká. Zvlášť při pití brčkem je velmi snadné se spálit.</p>
		<p>Maté nenechávej zalité příliš dlouho, protože dokud je zalité, tak se stále vyluhuje a mohlo by se stát příliš hořké.</p></li>
	  <li class="preparation-step" id="opakuj"><span class="subtitle">Opakuj zalévání</span>
		<p>Maté se dá zalít několikrát po sobě (záleží na druhu maté, na teplotě vody a délce vyluhování). Neměl by ale být problém ho zalít minimálně čtyřikrát.</p>
		<p>Při dalším zalévání by měla postupně stoupat teplota vody (ubírej množství studené vody). Postupně zaléváš i suché maté na povrchu, které zůstalo ještě nevyluhované.</p>
		<p>Že je maté už úplně vyčerpané poznáš docela dobře podle toho, že po zalití klesnou lístky na dno.</p></li>
	  <li class="preparation-step" id="vycisti"><span class="subtitle">Vyčisti kalabasu</span>
		<p>Poté, co skončíš popíjení, vyčisti ihned kalabasu. Není dobré v ní nechávat maté příliš dlouho, aby nezačala například plesnivět.</p>
		<p>Maté z kalabasy vysyp. Můžeš si opatrně pomoct bombillou. Dávej ale pozor, abys nepoškodil stěny kalabasy.</p>
		<p>Vnitřek vypláchni vodou a nech vyschnout. Sušení by mělo být pozvolné (ne na přímém sluníčku a určitě ne na topení), aby se nepoškodila kalabasa. Stačí, když ji necháš někde v místnosti na vzduchu.</p></li>
	</ol>
  </div>
</div>
