<div class="row">
<h2>Obsah košíku:</h2>
<table class="cart-content">
	<tr class="cart-header"><th></th><th></th><th class="cart-item-weight">množství</th><th class="cart-item-price" id="price">cena celkem</th><th></th></tr>
	<%= render(cart.basket_items) %>
	<tr class="cart-footer"><th></th>
		<th class="cart-item-price">celkem:</th><th class="cart-item-weight"><%= cart.total_weight/1000 %>kg</th>
		<th class="cart-item-price"><%= number_to_price(cart.total_price) %></th>
		<th>
			<%= button_to 'Vysypat košík', cart, :method => :delete, :confirm => 'Košík bude zcela prázdný ... ?' %>		
		</th>
	</tr>
</table>
</div>
