/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/** Horní linie */

.top-stripe {
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	z-index: 50;
	background-color: #191919;
	color: white;
}

.top-menu {
	height: 8em;
	max-width: 1280px;
}

.logo-image {
	margin-left: 5em;
	margin-right: 3em;
	display: inline;
	float: left;
	height: 4em;
}

/** TOP MENU */


div.bottombar{ /* bar that runs across the bottom of the menu */
	height: 10px;
	background: #191919;
}

.filling-top {
	position: relative;
	display: block;
	width: 100%;
	height: 8em;
}

/** střední linie */

.middle-stripe-bounds{
	position: relative;
	text-align: center;
}

/** spodní line */

.bottom-bar {
	background-color: #191919;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

.filling-bottom {
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
}