// Place all the styles related to the BasketItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-content {
  width: 100%;  
}

.cart-item {
  
}

.cart-item-name {  
  text-align: left;
  width: 60%;
  font-weight: bold;
}
