// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#price {
  min-width: 120px;
}

.cart-content {
  border: 0px;
  width: 100%;  
  background: none;  
}

.cart-header th {  
  border-bottom: 3px solid gray;  
}

.cart-footer th {
  border-top: 3px solid gray;
}

.cart-content th {
  padding: 10px;
  background: none;
  color: #576310
}

.cart-item td {
  vertical-align: middle;  
}

.quantity {
  vertical-align: middle;  
  display: inline-block;
  text-align: right;  
}

.cart-item-price, .cart-item-weight {
  text-align: right;
}

.cart-item-name {  
  text-align: left;
  width: 60%; 
}

.cart-item-name b {
  position: relative;
  bottom: -1em;
  font-size: large;
  text-indent: 3em;  
}

.cart-item-name p {
  position: relative;
  bottom: -1em;  
  font-size: small; 
   text-indent: 5em; 
}