// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-header {
	position: absolute;
	left: 20px;
	top: 0px;
}

#product-list {
  width: 100%;  
  border-spacing: 5px;  
}

#product-list tr td {
  padding: 10px;
  width: 33%;
}

#product-list tr td a {
  color: black;  
}

#product-list tr td .name {  
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

#product-list tr td .description {  
  font-style: italic;
  text-align: center;
}

#product-list tr td .price {
  color: orange;
  font-weight: bold;
  font-size: 12pt;
  text-align: right;
}

.product-name {
	font-size: 18pt;
	font-weight: bold;
}

.image-large {
	position: absolute;
	top: 0;
	right: 0;
}

.product-price {
	color: orange;
	font-size: 24pt;
	font-weight: bold;
	padding: 10px;
}

.stock {
	position: relative;
	padding: 10px;
}

.info {
	position: absolute;
	left: 40px;
	bottom: 40px;
}

.product-description {
	text-align: justify;
}

.preview {
	display: table-cell;
	min-width: 500px;
	max-height: 100%;
}

.preview-content {
	border-left: 2px solid #555;
	position: relative;
	display: block;
	min-height: 400px;
}

.descriptionS {
	margin: 10px;
	font-style: italic;
	text-indent: 10em;
}

.content {
	display: table;
	width: 100%;
	overflow-y: auto;
}

.middle-stripe {
	width: 1280px;
	vertical-align: middle;
	display: inline;
}

.right-column {
	text-align: left;
	margin-right: 20px;
	display: inline-block;
}

.menu {
	padding: 20px;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

.container {
	position: relative;
	display: inline-block;
}

.product-list tr td {
  vertical-align: top;
  padding: 5px;
}

.product-list-description-short {  
  font-style: italic;
}

.product-list-description-long {
  width: 40%;
  text-align: justify;
}

.product-list-name {
  font-size: 13pt;
  text-weight: bold;
}

.product-list-price {
  font-size: 13pt;
  text-weight: bold;
  color: orange;
}
