// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-header {
	position: absolute;
	left: 20px;
	top: 0px;
}

.product-name {
	font-size: 18pt;
	font-weight: bold;
}

.image-large {
	position: absolute;
	top: 0;
	right: 0;
}

.product-price {
	color: orange;
	font-size: 24pt;
	font-weight: bold;
	padding: 10px;
}

.stock {
	position: relative;
	padding: 10px;
}

.info {
	position: absolute;
	left: 40px;
	bottom: 40px;
}

.product-description {
	display: table-cell;
	float: right;
	max-width: 350px;
	text-align: justify;
}

.preview {
	display: table-cell;
	min-width: 500px;
	max-height: 100%;
}

.preview-content {
	border-left: 2px solid #555;
	position: relative;
	display: block;
	min-height: 400px;
}

.descriptionS {
	margin: 10px;
	font-style: italic;
	text-indent: 15em;
}

.content {
	display: table;
	width: 100%;
	overflow-y: auto;
}